@using Owin04_Consts

@{
    ViewBag.Title = "Implicit Grunt Page";
}

<div class="container">

    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="active">Implicit Grunt Page</li>
    </ol>

    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">@ViewBag.Title</div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" style="margin: 10px;">

                    <div class="form-group">
                        <label for="accessToken">Access Token</label>
                        <div class="input-group">
                            <input id="accessToken" name="AccessToken" type="text" class="form-control"/>
                            <span class="input-group-btn">
                                <input id="authorize" type="button" name="signin.AccessToken" value="Authorize" class="btn btn-default" />
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input id="callApi" name="submit.CallApi" value="Access Protected Resource API" type="button" class="btn btn-success"/>
                    </div>
                </form>
            </div>
        </div>

        <div id="output" class="alert alert-info">
        </div>
    </div>

</div>

@section scripts {
    <script type="text/javascript">
        (function ($) {
            var authorizeUri = '@(Paths.AuthorizationServerBaseAddress + Paths.AuthorizePath)';
            var tokenUri = '@(Paths.AuthorizationServerBaseAddress + Paths.TokenPath)';
            var apiUri = '@Paths.ResourceUserApiPath';

            var clientId = '@Clients.Client2.Id';
            var returnUri = '@Clients.Client2.RedirectUrl';
            var nonce = 'my-nonce';

            $('#authorize').click(function () {

                var uri = addQueryString(authorizeUri, {
                    'client_id': clientId,
                    'redirect_uri': returnUri,
                    'state': nonce,
                    'scope': 'bio notes',
                    'response_type': 'token'
                });

                window.oauth = {};
                window.oauth.signin = function (data) {
                    if (data.state !== nonce) {
                        return;
                    }
                    $('#accessToken').val(data.access_token);
                }

                window.open(uri, 'authorize', 'width=640,height=480');
            });

            $('#callApi').click(function () {
                $.ajax(apiUri, {
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + $('#accessToken').val());
                    },
                    dataType: 'text',
                    cache: false,
                    success: function (data) {
                        console.log(data);
                        $('#output').text(data);
                    }
                });
            });

            function addQueryString(uri, parameters) {
                var delimiter = (uri.indexOf('?') == -1) ? '?' : '&';
                for (var parameterName in parameters) {
                    var parameterValue = parameters[parameterName];
                    uri += delimiter + encodeURIComponent(parameterName) + '=' + encodeURIComponent(parameterValue);
                    delimiter = '&';
                }
                return uri;
            }
        })(jQuery);
    </script>
}
