@using Owin04_Consts

@{
    ViewBag.Title = "OAuth Test Page";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <p>1. Click Authorize button to get your access token.</p>
    <p>
        <input id="authorize" type="button" name="signin.AccessToken" value="Authorize" class="btn btn-primary"/>
        <br/><br/>
        <input id="accessToken" name="AccessToken" type="text" class="form-control"/>
    </p>
    <p>2. Click "Access Protected Resource API" button to get resource.</p>
    <p>
        <input id="callApi" name="submit.CallApi" value="Access Protected Resource API" type="button" class="btn btn-success" />
    </p>
    <div id="output">
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        (function ($) {
            var authorizeUri = '@(Paths.AuthorizationServerBaseAddress + Paths.AuthorizePath)';
            var tokenUri = '@(Paths.AuthorizationServerBaseAddress + Paths.TokenPath)';
            var apiUri = '@Paths.ResourceUserApiPath';

            var clientId = '@Clients.Client2.Id';
            var returnUri = '@Clients.Client2.RedirectUrl';
            var nonce = 'my-nonce';

            $('#authorize').click(function () {

                var uri = addQueryString(authorizeUri, {
                    'client_id': clientId,
                    'redirect_uri': returnUri,
                    'state': nonce,
                    'scope': 'bio notes',
                    'response_type': 'token'
                });

                window.oauth = {};
                window.oauth.signin = function (data) {
                    if (data.state !== nonce) {
                        return;
                    }
                    $('#accessToken').val(data.access_token);
                }

                window.open(uri, 'authorize', 'width=640,height=480');
            });

            $('#callApi').click(function () {
                $.ajax(apiUri, {
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + $('#accessToken').val());
                    },
                    dataType: 'text',
                    cache: false,
                    success: function (data) {
                        console.log(data);
                        $('#output').text(data);
                    }
                });
            });

            function addQueryString(uri, parameters) {
                var delimiter = (uri.indexOf('?') == -1) ? '?' : '&';
                for (var parameterName in parameters) {
                    var parameterValue = parameters[parameterName];
                    uri += delimiter + encodeURIComponent(parameterName) + '=' + encodeURIComponent(parameterValue);
                    delimiter = '&';
                }
                return uri;
            }
        })(jQuery);
    </script>
}
